@define-color dpco_red #f08e97;
@define-color dpco_green #a7e1a4;
@define-color dpco_yellow #ffefa7;
@define-color dpco_blue #a5c0e1;
@define-color dpco_mauve #c8a6e1;
@define-color dpco_teal #a1d0d4;
@define-color dpco_peach #f9b486;
@define-color dpco_pink #e1a5d7;
@define-color dpco_lavender #b4b8e6;
@define-color dpco_cream #f8e0b4;
@define-color dpco_maroon #fe95cc;
@define-color dpco_sky #a7f1ff;
@define-color dpco_flamingo #b18fca;




* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 12px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
  background-color: #3F3F3F;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

#tray menu {
  background-color: black;
  color: white;
  border: 1px solid white;
}

#taskbar button {
  font-size: 3px;
  padding: 0 3px;
  margin: -100px 1px;
  background-color: @dpco_blue;
}

#taskbar button.active {
  background-color: @dpco_maroon;
}

#taskbar button.minimized {
  background-color: transparent;
}

#taskbar button.maximized {
  background-color: @dpco_peach;
}

#taskbar button.fullscreen {
  background-color: @dpco_green;
}

#mpris {
  color: @dpco_flamingo;
}

#network {
  color: @dpco_cream;
}

#pulseaudio {
  color: @dpco_blue;
}

#temperature {
  color: @dpco_pink;
}

#cpu {
  color: @dpco_peach;
}

#memory {
  color: @dpco_teal;
}

#disk {
  color: @dpco_mauve;
}

#backlight {
  color: @dpco_sky;
}

#battery {
  color: @dpco_yellow;
}

#clock {
  color: @dpco_green;
}

#idle_inhibitor {
  color: white;
}
